.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF95B2;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family:'Paprika', sans-serif;
    height:30;
    text-shadow: 2px 2px 3px #A90623;
}

.logo{
    margin-top: 18px;
    margin-left: auto;
  }


  .redes{
    list-style: none;
    padding: 0;
    gap: 5px;
    display: flex;
  }

  .redes a{
    display: inline;
    margin-right: 5px;
    color: #FFFFFF;
    text-decoration: none;
  }