.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #ffd4d0;
  font-family:'Roboto', sans-serif;
  color: #A90623;
  min-height: 100vh;
}
.card{
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 560px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
   
  }

  .h2{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    text-shadow: 2px 2px 3px #ffffff;
    color: #A90623;
    font-family:'Paprika', sans-serif;
    margin-top: 40px;
    font-size: 29px;
  }

  .button{
    color: whitesmoke;
    background-color: #A90623;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    padding: 5px 9px;
    border: 2px;
    border-radius: 5px;
    align-self: center;
    margin-top: 10px;
    margin-left: 9px;
  }

  .fundo{
    background-color: #ffd4d0;
  }

